@font-face {
  font-family: 'malisemibold';
  src: url("../fonts/webMali/mali-semibold-webfont.woff2") format("woff2"), url("../fonts/webMali/mali-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/webUbuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/webUbuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
input[type=range] {
  -webkit-appearance: none;
  border-radius: 10px; }
  input[type=range]:focus {
    outline: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fa7238;
  border-radius: 10px; }

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  min-height: 667px;
  background: #F2F0EA;
  font-family: "ubunturegular", sans-serif; }
  body h1 {
    font-family: "malisemibold", cursive;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  body #pomoText {
    font-size: 0.75em;
    height: 0.75em; }
  body .pomo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -1em; }
    body .pomo-container .pomo {
      margin: 0 1em;
      height: 3em; }
  body main {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  body footer {
    margin-bottom: 2em; }

.block {
  display: block; }

.display-none {
  display: none; }

.rotate-clkwise {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.rotate-counter {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.hidden {
  visibility: hidden; }

#timer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 3em;
  width: 3em;
  padding: 1em;
  border-radius: 50%;
  background: #fff; }
  #timer #circPath {
    position: absolute;
    width: 130%; }
    #timer #circPath .st0 {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      fill: none;
      stroke: #fa7238;
      stroke-width: 0.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-dasharray: 38.5;
      stroke-dashoffset: 0; }
  #timer #circPath2 {
    position: absolute;
    width: 120%; }
    #timer #circPath2 .st1 {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      fill: none;
      stroke: #f9d685;
      stroke-width: 0.25;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-dasharray: 38.5;
      stroke-dashoffset: 0; }
  #timer #circPathBottom {
    position: absolute;
    width: 130%; }
    #timer #circPathBottom .st2 {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      fill: none;
      stroke: #e4ded5;
      stroke-width: 0.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-dasharray: 38.5;
      stroke-dashoffset: 0; }
  #timer #timerState {
    position: absolute;
    bottom: 3.5rem;
    height: 1em;
    font-size: 1rem; }
  #timer .timer-display {
    margin-top: -8px; }
  #timer .timer-colon {
    margin-top: -15px; }

.pomo {
  height: 1em;
  font-size: 1em; }

.btn {
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em; }
  .btn:hover, .btn:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5); }

#volBtn {
  position: relative; }
  #volBtn #volume {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    bottom: 104px;
    left: -51px; }

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw; }
  .controls .control-icon {
    height: 2.5em;
    width: 2.5em;
    background-repeat: no-repeat;
    background-size: cover; }
    .controls .control-icon:hover {
      cursor: pointer; }
  .controls .vol {
    background-image: url(../img/volume-up.svg); }
  .controls .muted {
    background-image: url(../img/volume-mute.svg); }
  .controls .settings {
    height: 2em;
    width: 2em;
    background-image: url(../img/sliders.svg); }

.settings-form {
  display: none;
  position: absolute;
  bottom: -472px;
  width: 100vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 2.5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 2.5px rgba(0, 0, 0, 0.1); }
  .settings-form .user-selection {
    display: block;
    margin: 1em auto;
    font-size: 1em;
    padding: 0.5em;
    text-align: right; }
    .settings-form .user-selection:focus-visible {
      outline-color: #25e24e; }
  .settings-form .form {
    display: block;
    background: #fff;
    padding: 1em; }
    .settings-form .form .form-notice {
      font-size: 0.625em; }
  .settings-form .form-label {
    display: block;
    text-align: center; }
  .settings-form .close-settings {
    width: 40px;
    height: 40px;
    position: relative;
    left: 85%;
    top: 10px; }
    .settings-form .close-settings .x-one,
    .settings-form .close-settings .x-two {
      position: absolute;
      top: calc(50% - 2.5px);
      left: 0;
      width: 100%;
      height: 2.5px;
      background: #000;
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transition: all 0.75s ease-in-out;
      transition: all 0.75s ease-in-out; }

@media screen and (min-width: 280px) {
  body {
    overflow: hidden;
    overflow-y: scroll; }

  #timer {
    font-size: 3em; } }
@media screen and (min-width: 376px) {
  #timer {
    font-size: 4em; } }

/*# sourceMappingURL=style.css.map */