@font-face {
    font-family: 'malisemibold';
    src: url('../fonts/webMali/mali-semibold-webfont.woff2') format('woff2'),
         url('../fonts/webMali/mali-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/webUbuntu/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../fonts/webUbuntu/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$pomo-font: 'malisemibold', cursive;
$body-font: 'ubunturegular', sans-serif;
$bg-one: #F2F0EA;
$tomato-red: #fa7238;
$mid-grn: #25e24e;
$beige-gray: #e4ded5;
$orange-yellow: #f9d685;
$clock-face-color: #fff;



input[type=range] {
    -webkit-appearance: none;
    border-radius: 10px;

    &:focus {
        outline: none;
      }
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: $tomato-red;
    border-radius: 10px;
}
    
body{
    h1{
        font-family: $pomo-font;
        -webkit-user-select: none;        
        -moz-user-select: none; 
        -ms-user-select: none;
        user-select: none;
    }
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-height: 667px;
    background: $bg-one;
    font-family: $body-font;

    #pomoText{
        font-size: 0.75em;
        height: 0.75em;
    }

    .pomo-container{
        display: flex;
        justify-content: space-between;
        margin-top: -1em;
        
        .pomo{
            margin: 0 1em;
            height: 3em;
        }
    }
    main{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    footer{
        margin-bottom: 2em;
    }
}

/// helpers
.block{
    display: block;
}

.display-none{
    display: none;
}

.rotate-clkwise{
    transform: rotate(45deg);
}

.rotate-counter{
    transform: rotate(-45deg);
}

.hidden{
    visibility: hidden;
}

#timer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3em;
    width: 3em;
    padding: 1em;
    border-radius: 50%;
    background: $clock-face-color;

    #circPath{
        position: absolute;
        width: 130%;
        
        .st0{
            transition: all 0.5s ease;
            fill:none;
            stroke: $tomato-red;
            stroke-width:0.5;
            stroke-linecap:round;
            stroke-miterlimit:10;
            stroke-dasharray: 38.5;
            stroke-dashoffset: 0;
        }
        
    }
    
    #circPath2{
        position: absolute;
        width: 120%;
        
        .st1{
            transition: all 0.5s ease;
            fill:none;
            stroke: $orange-yellow;
            stroke-width:0.25;
            stroke-linecap:round;
            stroke-miterlimit:10;
            stroke-dasharray: 38.5;
            stroke-dashoffset: 0;
        }
    }
    
    #circPathBottom{
        position: absolute;
        width: 130%;
        
        .st2{
            transition: all 0.5s ease;
            fill:none;
            stroke: $beige-gray;
            stroke-width:0.5;
            stroke-linecap:round;
            stroke-miterlimit:10;
            stroke-dasharray: 38.5;
            stroke-dashoffset: 0;
        }
    }
    
    #timerState{
        position: absolute;
        bottom: 3.5rem;
        height: 1em;
        font-size: 1rem;
    }

    .timer-display{
        margin-top: -8px;
    }
    .timer-colon{
        margin-top: -15px;
    }
}


.pomo{
    height: 1em;
    font-size: 1em;
}

.btn{
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;

    &:hover,
    &:active{
        transform: scale(.95);
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
}

#volBtn{
    position: relative;
    #volume{
        transform: rotate(-90deg);
        position: absolute;
        bottom: 104px;
        left: -51px;
    }
}

.controls{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    
    .control-icon{
        height: 2.5em;
        width: 2.5em;
        background-repeat: no-repeat;
        background-size: cover;
    
        &:hover{
            cursor: pointer;
        }
    
    }
    
    .vol{
        background-image: url(../img/volume-up.svg);
    }
    .muted{
        background-image: url(../img/volume-mute.svg);
    }
    .settings{
        height: 2em;
        width: 2em;
        background-image: url(../img/sliders.svg);
    }
}



.settings-form{
    display: none;
    position: absolute;
    bottom: -472px;
    width: 100vw;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 2.5px rgba(0,0,0,0.1);

    .user-selection{
        display: block;
        margin: 1em auto;
        font-size: 1em;
        padding: 0.5em;
        text-align: right;

        &:focus-visible{
            outline-color: $mid-grn;
        }
    }

    .form{
        display: block;
        background: #fff;
        padding: 1em;

        .form-notice{
            font-size: 0.625em;
        }

    }
    .form-label{
        display: block;
        text-align: center;
    }

    .close-settings{
        width: 40px;
        height: 40px;
        position: relative;
        left: 85%;
        top: 10px;

        
        .x-one,
        .x-two{
            position: absolute;
            top: calc(50% - 2.5px);
            left: 0;
            width: 100%;
            height: 2.5px;
            background: #000;
            transform-origin: center;
            transition: all 0.75s ease-in-out;
        }
    }
}


@media screen and (min-width: 280px) {
    body{
        overflow: hidden;
        overflow-y: scroll;
    }
    #timer{
        font-size: 3em;
    }
}
@media screen and (min-width: 376px) {
    #timer{
        font-size: 4em;
    }
}